* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-height: 100vh;
  width: 900px;
  margin: 0 auto;
  background-color: rgb(255, 228, 178);

  &__heading {
    border-bottom: 3px solid orange;
    margin-bottom: 1rem;
  }

  &__product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 1rem;
  }

  &__button {
    width: 150px;
    background-color: orange;
    border: 1px solid orange;
    padding: 10px 0;
    color: white;
    font-weight: 500;
    transition: transform 0.3s ease;

    &:hover {
      background-color: #ffb347;
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}

.product {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  height: 300px;
  width: 200px;
  border: 1px solid black;
  background-color: white;
  transition: transform 0.3s ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  &__image {
    height: 50%;
    width: 100%;
    object-fit: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    flex-grow: 1;
  }

  &__heading {
    font-size: 1rem;
  }

  &__description {
    background-color: lightgrey;
    font-size: 0.75rem;
    padding: 0.5rem;
    overflow: hidden;
    height: 50px;
  }

  &__price {
    align-self: flex-start;
    font-size: 0.75rem;
    font-weight: 600;
    margin-top: auto;

    span {
      color: red;
      text-decoration: line-through;
      font-size: 0.6rem;
    }
  }
}
